# ignore html nginx folder
.html/

# ignore vs code settings
.vscode/

# ignore logs and temporary files
*.log
*.temp
*.tmp

# dependecies
/vendor/

# ignore composer cache folder
.cache/*

# ignore .env
.env
